[Unit]
Description=gunicorn socket for APP_NAME

[Socket]
ListenStream=/run/APP_NAME.sock
SocketUser=TARGET_USER
SocketGroup=www-data

[Install]
WantedBy=sockets.target
