[Unit]
Description=gunicorn daemon for APP_NAME
Requires=APP_NAME.socket
After=network.target

[Service]
User=TARGET_USER
Group=TARGET_USER
# This creates /var/log/logivis/ automatically
LogsDirectory=APP_NAME
# This ensures the directory is created with 755 permissions
LogsDirectoryMode=0755
WorkingDirectory=TARGET_PATH/backend
ExecStart=TARGET_PATH/backend/venv/bin/gunicorn --access-logfile - --workers 3 system.wsgi:application

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
KillSignal=SIGQUIT

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
